body{
    margin:0;
    padding:0;
    background:#222;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.container{
    text-align:center;
}

h1{
    font-size:40px;
}

#count{
    font-size:120px;
    color:yellow;
    margin:20px;
}

#imageBox{
    display:none;
}

#imageBox img{
    width:350px;
    border-radius:15px;
    box-shadow:0 0 20px white;
}